{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/payment_process_style.css' %}">
    <script type="text/javascript" src="{% static 'js/payment_process.js' %}"></script>
{% endblock %}

{% block body %}
    <section class="section section1">
        <div class="gif-div">
            <img src="{% static 'img/process.gif' %}" alt="processing">
        </div>
        <div class="header-before">
            Processing Payment...
        </div>
        <div class="below-header">
            Please wait while we are processing your payment.
        </div>
    </section>
    <input type="hidden" class="ref1" value="{{ticket1.ref_no}}">
    <input type="hidden" class="ref2" value="{{ticket2.ref_no}}">
    <section class="section section2">
           



           
        <div class="header-after">
            Congratulations, Your flight booking is confirmed.
        </div>
        <div class="details-div">
            <div class="flight1">Booking Ref. Number: &nbsp;<span class="ref">{{ticket1.ref_no}}</span>&nbsp;&nbsp;&nbsp;(<span class="from1">{{ticket1.flight.origin.code}}</span> <span>&#8594;</span> <span class="to1">{{ticket1.flight.destination.code}}</span>)</div>
            <div class="flight2">Booking Ref. Number: &nbsp;<span class="ref">{{ticket2.ref_no}}</span>&nbsp;&nbsp;&nbsp;(<span class="from2">{{ticket2.flight.origin.code}}</span> <span>&#8594;</span> <span class="to2">{{ticket2.flight.destination.code}}</span>)</div>
        </div>
        <div class="ticket-div">
            <div>
                    <form action="{% url 'getticket' %}" method="get" target="_blank">
                    <input type="hidden" name="ref" value="{{ticket1.ref_no}}">
                    <button type="submit" class="btn btn-outline-primary">Print Ticket ({{ticket1.flight.origin.code}} to {{ticket1.flight.destination.code}})</button>
               
                {% if ticket2 %}
                        <form action="{% url 'getticket' %}" method="get" target="_blank">
                        <input type="hidden" name="ref" value="{{ticket2.ref_no}}">
                        <button type="submit" class="btn btn-outline-primary">Print Ticket ({{ticket2.flight.origin.code}} to {{ticket2.flight.destination.code}})</button>
                   
                {% endif %}
            </div>
        </div>
    </section>
    <section class="section section3">
       
        <div class="header-after star">
            There was an error while processing the payment.
        </div>
        <div class="below-header">
            Please retry after sometime.
        </div>
        <div class="ticket-div">
            <button class="btn btn-outline-primary" type="button" onclick="window.location.href = '/'">Go Home</button>
        </div>
    </section>
{% endblock %}